h1 {
	font-size: large;
}

#content {
    padding: 10px 10%;
    line-height: 2em;
    h1 {
        font-size: xxx-large;
    }
}

.project-list {
    padding-left: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #9de7fd;
}