@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #0078ff;
  --accent-color: #003c8a;
  --background-gradiant: linear-gradient(to right, #a7fcff, #85e4fc);
  --text-color: #222222;
  --link-color: #e00000;
}

h1 {
  font-size: xx-large;
  text-decoration: underline;
  text-underline-offset: 13px;
  line-height: 1em;
}

h2 {
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 13px;
}

main {
  padding: 1rem 2em;
  line-height: 2em;

  > h1 {
    font-size: xxx-large;
    text-align: center;
  }
}

.project-list {
  padding-left: 1rem;
  font-size: x-large;

  li > a {
    width: max-content;

    &:hover {
      font-size: xx-large;
    }
  }
}

li {
  padding-bottom: 1em;
}

a {
  color: var(--link-color);
  transition-duration: 2s;

  &:hover {
    font-size: x-large;
  }

  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-gradiant);
  color: var(--text-color);
  font-size: large;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-bottom: 0.2em solid var(--text-color);

  a {
    color: var(--text-color);

    &:hover {
      font-size: xxx-large;
    }
  }
}

.big-header {
  font-size: xxx-large;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
