@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.top-bar {
	display: flex;
	justify-content: center;
    padding: .5em;
    border-bottom: 0.2em solid #000;
    a {
        color: #333333;
        text-decoration: none;
    }
}

.big-header {
	font-size: xxx-large;
	text-align: center;
    font-family: 'Roboto', sans-serif;
}
